@page "/RegistroProductos"

<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .form-register {
        width: 600px;
        background: #222939;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
    }

        .form-register h4 {
            font-size: 22px;
            margin-bottom: 20px;
        }

    .controls {
        width: 100%;
        background: #FFFFFF;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #000000;
        font-family: 'calibri';
        font-size: 18px;
    }

    .form-register .botons {
        width: 100%;
        background: #0EBA25;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 24px;
    }

    .form-register .botons2 {
        width: 100%;
        background: #003ECE;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 24px;
    }
</style>

<div>
    <section class="form-register">
        <h4>Registro de Productos</h4>

        <input class="controls" type="text" name="nombres" id="Nombres" placeholder="Ingrese el Nombre">
        <input type="datetime-local" class="controls form-control" id="Fecha" input />
        <input class="controls" type="number" name="cantidad" id="Cantidad" placeholder="Ingrese la Cantidad" />
        <input class="controls" type="number" name="precioC" id="PrecioCompra" placeholder="Ingrese el Precio de Compra">
        <input class="controls" type="number" name="precioV" id="PrecioVenta" placeholder="Ingrese el Precio de Venta">
        <input class="controls" type="number" name="itbis" id="Itbis" placeholder="Ingrese el Itbis">
        <input class="botons" type="submit" value="Guardar">
        <input class="botons2" type="submit" value="Ir a la Lista">
        <br />

    </section>
</div>

@code {

}
